{% extends "questions/base.html" %}
{% load bootstrap %}

{% block content %}
{% block additionalCSS %}
<style>

  .form-control:focus
 {
    border-color:grey;
    box-shadow:0 0 8px 0 grey;
 }
 h4
 {
 	line-height: 2.7;
 	font-size: 1.3em;
 }
  label
 {
 margin-left: 25px;
 margin-top: 5px;
font-weight: bold;
}
label:after
    {
    content:"*" ;
    color:red
    }
 .help-block
{
margin-left: 25px;
margin-top: 5px;

}
.select2-container--default .select2-selection--single
{
margin-left:22px;
width:100%
}

.select2-container--open .select2-dropdown--below
{
margin-left:22px
}

</style>
{% endblock %}

<style>
@media (min-width: 600px)
{
input[type=text], input[type=email], input[type=password], .form-control
{
width:91%;
}
.btn-custom
{
left:150px;
}
}


label:after
    {
    content:"*" ;
    color:red
    }

label
{
margin-left: 25px;
margin-top: 5px;
font-weight: bold;
}
.panel-default
  {
      margin-top: 20px;
  }

</style>


<div class="row justify-content-md-center">
	<div class="col-xl-6 col-md-10 col-sm-8">
	    <div class = "panel panel-default" style="margin-bottom:5%;">
		    <div class="panel-heading text-center"><h4>Add a new question </h4></div>
			    <div class="panel-body">
                    <form action="." name="questionform" method="post">{% csrf_token %}
                    <div class = "row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        {{ form|bootstrap }}
                        </div>
                    </div>
                    <p>
                        <button type="submit" class="btn btn-custom">Save</button>
                        <a href="{% url 'questions:home' %}" class="btn btn-custom btn-outline-secondary" role="button">Nevermind</a>
                    </p><br><br>
                    </form>
			    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
